###         RIOT-flexteamcoach              ###
mysql-connector-python

###         Requirements Discord bot        ###
discord
html2text

###          Requirements Crawler           ###



